* {
  box-sizing  : border-box;
  margin      : 0;
  overflow    : hidden;
}

canvas {
  width             : 100vw;
  height            : 100vh;
  background        :  center / cover no-repeat;
  background-image  : url(/back.svg);
  display           : grid;
}
